import React from 'react';
import PropTypes from 'prop-types';
import './{{pascalCase name}}.module.scss';

const {{pascalCase name}} = props => {
  return (
    <div className="c-{{pascalCase name}}">
      In Page {{pascalCase name}}
    </div>
  );
};

{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};